table{
    width: 30%;
    border: white;
    margin-left: auto;
    margin-right: auto;

}
th{
    font-family: "Bauhaus 93", arial;
    color: white;
    font-size: 40px;
    width: 30%;
    border: solid;
    padding: 6px;
}
td{
    font-family: arial,sans-serif;
    color: white;
    padding: 7px;
    text-align: center;
    width: 30%;
    border: solid;
}
h1{
    font-family: "Arial Black", arial;
    color: white;
    font-size: 50px;
    text-align: center;
}
.mybackground {
    background-image: url("../Pictures/puck.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}