.textStyle1 {
    text-align: center;
    font-family:"AlienFont", "sans-serif";
    padding-bottom: 50px;
}
div.textStyle2{
    text-align-last: center;
    font-family: "AlienFont", "sans-serif";
    font-size: large;
}
div.textStyle3 {
    text-align: justify;
    font-family:"Arial Hebrew", "sans-serif";
    font-size: large;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
#myRectangle{
    position: absolute;
    width: 800px;
    height: 100%;
    background: #e6e9ec;
    left: 50%;
    padding: 30px;
    margin-left: -430px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mybackground{
    background-image: url("../Pictures/AirHockeymitLöchern(Background).jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left 50% top -5%;


}


@font-face {
    font-family: AlienFont;
    src: url("../Fonts/Alien-Encounters-Solid-Bold-Italic.ttf");
}