p{
    font-family: "Arial", "sans-serif";
    line-height: 1.8;
    font-size: 20px;
}
p2{
    font-family:"Arial", "sans-serif";
    font-size: 20px;
    margin-left:64px;
}
.headerstyle1{
    font-family:"AlienFont", "sans-serif";
    font-size: 50px;
}

h2{
    font-family:"Arial Black", "sans-serif";
    font-style: normal;
    font-weight: bolder;
}

@font-face {
    font-family: AlienFont;
    src: url("../Fonts/Alien-Encounters-Solid-Bold-Italic.ttf");
}

.myImage{
    background-image: url("../Pictures/AirHockeySchläger.svg");
    background-repeat: no-repeat;

    background-size: 504px 500px;
    background-position: left 600px top 18%;
}
#myRectangle{

    background: #e6e9ec;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: left;

}